.infoPopBackdrop {
  position: fixed;
  inset: 0;
  z-index: 9000;
  background: rgba(0, 0, 0, 0.15);

  display: flex;
  align-items: center;
  justify-content: center;
}
.infoPopBox {
  background: var(--red);
  border-radius: 8px;
  padding: 24px;
  min-width: 320px;
  text-align: center;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.4);
  position: relative;
}
