.containerBox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 10px;
  overflow-y: auto;
  max-height: calc(100vh - 230px);
  max-width: 100vw;
  background-color: var(--red);
  width: 100vw;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;

}