.footer {
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--HeadFoodBar);
}

.footerLinks {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  gap: 15px;
}
