.tooltipContainer {
  position: relative;
  display: inline-block;
}

.tooltipTextPortal {
  position: absolute;
  transform: translate(-50%, -100%);
  /* Styling wie gehabt: */
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 4px 8px;
  z-index: 9999;
  font-size: 0.8rem;
  white-space: nowrap;
  pointer-events: none;
  opacity: 1;
  transition: opacity 0.1s;
}

.title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  /* -webkit-line-clamp: 5; Anzahl erlaubter Zeilen */
  /* line-clamp: 0; */
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word; /* Lange Wörter umbrechen */
  white-space: normal;
  /* padding: 12px; */
  /* padding-bottom: 0; */
}
