.header {
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--HeadFoodBar);
  /* box-shadow: 0 2px 15px -2px; */
}

.logo {
  height: 70px;
  margin: 5px;
  margin-left: 20px;
}


